.alignedimages {

  padding-top: 20px;
  padding-bottom: 20px;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .left {
      @include tablet-portrait-and-up() {
        width: 70%;
        margin-right: 20px;
      }
      .image {
        text-align: right;
        @include tablet-portrait-and-up() {
          height: 55%;
          width: 100%;
          img {
            width: 70%;
          }
        }
        @include tablet-portrait-and-below() {
          width: 100%;
          img {
            width: 100%;
          }
        }
      }
      .headline {
        height: 50%;
        font-family: $font-bold;
        font-weight: bold;
        @include font-big();
        color: schemeColor('primary-one', 'v1');
        width: 40%;
        @include tablet-portrait-and-below() {
          width: 100%;
        }
        margin-top: 10%;
      }
    }
    .right {
      width: 30%;
      .image {
        height: 100%;
        img {
          height: 100%;
          width: 100%;
          @include tablet-portrait-and-below() {
            display: none;
          }
        }
      }
    }
  }

  .divider {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .left {
      @include tablet-portrait-and-up() {
        width: 70%;
        margin-right: 20px;
      }
      .image {
        text-align: right;
        @include tablet-portrait-and-up() {
          height: 80%;
          img {
            width: 70%;
          }
        }
        @include tablet-portrait-and-below() {
          width: 100%;
          img {
            width: 100%;
          }
        }

      }
    }
    .right {
      width: 30%;
      .image {
        @include tablet-portrait-and-up() {
          height: 100%;
        }
        img {
          height: 100%;
          width: 100%;
          @include tablet-portrait-and-below() {
            display: none;
          }
        }
      }
    }
  }

  .textblock {
    padding-top: 20px;
    padding-bottom: 20px;
    @include font-medium();
    &.left {
      margin-left: 0;
      @include tablet-portrait-and-up() {
        width: 80%;
      }
    }
    &.right {
      @include tablet-portrait-and-up() {
        margin-left: 30%;
      }
    }
  }

}
