.single article {

  margin-bottom: 60px;

  .image {
    @include mobile-only() {
      display: none;
    }
    img {
      width: 100%;
    }
  }

  .date {
    font-family: $font-light;
    font-weight: lighter;
    @include font-bigger();
    color: schemeColor('primary-one', 'v1');
    margin-top: 60px;
    margin-bottom: 20px;
  }

  .title {
    font-family: $font-bold;
    font-weight: bold;
    @include font-big();
    color: schemeColor('primary-one', 'v1');
  }

  .content {
    @include font-medium();
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
