.checklist {

  color: schemeColor('primary-one', 'v1');
  padding-top: 20px;
  padding-bottom: 20px;

  .headline {
    @include font-big();
  }

  .subtext {
    @include font-big();
  }

  .cta {
    @include font-bigger();
    width: 20%;
    min-width: 200px;
    margin: auto;
    margin-top: 80px;
    background-color: schemeColor('primary-one', 'v1');
    border-radius: 50px;
    color: schemeColor('primary-three', 'v1');
    padding-top: 9px;
    padding-bottom: 7px;
    padding-left: 20px;
    position: relative;

    .arrow {
      position: absolute;
      right: 15px;
      top: 11px;
      img {
        height: 25px;
      }
    }
  }

  .checkpoints {
    margin-top: 45px;
    display: flex;
    flex-direction: row;
    @include tablet-portrait-and-below() {
      flex-direction: column;
    }
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    .checkpoint {

      flex-basis: 15%;
      flex-grow: 1;
      color: schemeColor('primary-two', 'v1');
      margin-left: 10px;
      @include tablet-portrait-and-below() {
        margin-left: 0;
      }
      margin-bottom: 20px;

      .icon {
        margin-bottom: 10px;
        min-height: 100px;
        background-size: contain;
        background-position: left;
        background-repeat: no-repeat;
      }

      .headline {
        @include font-medium();
      }

      .subtext {
        @include font-medium();
        @include tablet-portrait-and-below() {
          margin-top: -5%;
        }
      }
    }
  }
}
