.disruptor {

  @include align-with-header();

  @include mobile-only() {
    padding-left: initial;
    margin-top: -220px;
  }

  width: $headerWidth;
  margin: auto;
  margin-top: -250px;
  position: absolute;
  left: 5%;
  z-index: 20;

  .link {
    width: 28%;
    @include mobile-only() {
      width: 60%;
    }
    height: 380px;
    display: block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

}
