.partnerrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;

  &.left {
    @include tablet-portrait-and-below() {
      flex-direction: column;
    }
    .image {
      @include tablet-portrait-and-below() {
        padding-left: 0;
      }
    }

  }

  &.right {
    @include tablet-portrait-and-below() {
      flex-direction: column-reverse;
    }
    .image {
      @include tablet-portrait-and-below() {
        padding-right: 0;
      }
    }
  }

  .content {
    width: 60%;
    @include tablet-portrait-and-below() {
      width: 100%;
    }
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 20px;
    padding-bottom: 20px;

    .headline {
      color: schemeColor('primary-one', 'v1');
      @include font-big();
      font-family: $font-bold;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .text {
      color: schemeColor('primary-two', 'v1');
      width: 80%;
      @include tablet-portrait-and-below() {
        width: 100%;
      }
      @include font-small();

      p {
        display: inline;
      }

      .more {
        height: 12px;
        margin-bottom: -1px;
      }
    }
  }

  .moretext {
    margin-top: 20px;
  }

  a {
    width: 20%;
    @include tablet-portrait-and-below() {
      width: 100%;
    }
    .image {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }

  .image {
    width: 20%;
    @include tablet-portrait-and-below() {
      width: 100%;
    }
    img {
      width: 100%;
    }
  }

}
