.press {

  margin-top: 40px;
  margin-bottom: 40px;

  .headline {
    font-family: $font-bold;
    font-weight: bold;
    @include font-big();
    color: schemeColor('primary-one', 'v1');
  }

  .subtext {
    color: schemeColor('primary-one', 'v1');
    @include font-big();
    margin-bottom: 20px;
  }

  .posts {

    .post {

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 40px;
      @include tablet-portrait-and-below() {
        flex-direction: column-reverse;
      }

      .image {
        width: 40%;
        @include tablet-portrait-and-below() {
          width: 100%;
          height: 300px;
          @include bottomMargin();
        }
        background-size: cover;
        background-position: center;
      }

      .excerpt {

        width: 60%;
        @include tablet-portrait-and-below() {
          width: 100%;
        }
        margin-right: 20px;
        font-family: $font-light;
        font-weight: normal;
        @include font-medium();

        .title {
          font-family: $font-medium;
          font-weight: normal;
          width: 70%;
          color: schemeColor('primary-one', 'v1');
          @include font-bigger();
          padding-bottom: 20px;
        }

        .date {
          font-family: $font-light;
          font-weight: lighter;
          color: schemeColor('primary-one', 'v1');
          @include font-medium();
          padding-bottom: 10px;
        }

        .more img {
          height: 15px;
          margin-bottom: -3px;
        }
      }

    }
  }

}
