.socialmedia{

  display: flex;
  @include tablet-portrait-and-below() {
    display: block;
  }
  flex-direction: row;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 5%;

  .headline {
    color: schemeColor('primary-one', 'v1');
    @include font-bigger();
    font-family: $font-bold;
    font-weight: bold;
    margin-bottom: 20px;
    @include tablet-portrait-and-below() {
      text-align: left;
    }
  }

  .facebook {
    @include tablet-portrait-and-up() {
      width: 30%;
      margin-right: 70px;
    }
    @include tablet-portrait-and-below() {
      text-align: center;
    }
  }

  .twitter {
    @include tablet-portrait-and-up() {
      width: 30%;
      height: 500px;
    }
    @include tablet-portrait-and-below() {
      margin-top: 20px;
      text-align: center;
    }
  }
}
