.youniverse {

  display: flex;
  flex-direction: column;

  min-height: 410px;
  padding-bottom: 20px;

  @include mobile-only() {
    margin-top: 50px;
  }

  iframe[seamless]{
    background-color: transparent;
    border: 0 none transparent;
    padding: 0;
    overflow: hidden;
    flex-grow: 1;
    margin: 0;
    left: 0;

    top: 0;
    width: 100%;
  }
}
