footer {
  width: 100%;
  min-height: 370px;
  background-color: schemeColor('primary-two', 'v1');
  color: schemeColor('primary-three', 'v1');

  a, a:hover, a:active, a:visited {
    color: schemeColor('primary-three', 'v1');
    text-decoration: none;
  }

  .container {

    @include _font-size($font-primary-size-biggest);
    @include align-with-header();
    position: relative;

    min-height: 0;
    display: flex;
    flex-direction: row;
    @include mobile-only() {
      flex-direction: column;
    }
    justify-content: space-between;
    align-items: stretch;
    align-content: baseline;

    padding-top: 40px;
    padding-bottom: 40px;

    .up {
      width: 3%;
      @include mobile-only() {
        width: initial;
        text-align: right;
      }

      img {
        width: 100%;
        @include mobile-only() {
          width: 20%;
        }
      }
    }

    .imprint {
      width: 10%;
      @include tablet-portrait-and-up() {
        margin-left: -5%;
      }
      @include mobile-only() {
        width: 100%;
        margin-top: -23%;
      }

      .links {
        margin-bottom: 20px;
      }

      .address {
        margin-bottom: 20px;
      }

      .contact {

      }

    }

    .info {
      width: 40%;
      @include mobile-only() {
        width: initial;
      }
      @include tablet-portrait-and-below() {
        margin-top: 20px;
      }
      position: relative;

      .text {
      }

      .partners {
        padding-bottom: 10px;
        height: 100%;
        background-position: left;
        background-repeat: no-repeat;
        background-size: contain;
        @include tablet-portrait-and-below() {
          height: 200px;
          width: 100%;
        }
      }

      .associates {
        margin-top: 20px;
        img  {
          margin-top: 5px;
          width: 100%;
        }
      }
    }

    .logos {
      width: 20%;
      @include mobile-only() {
        width: initial;
        text-align: center;
        margin-top: 30px;
      }

      .logo {
        width: 170px;
        margin-bottom: 20px;
      }

      .bmwi {
        height: 200px;
      }
    }

  }
}
