header {
  width: 100%;
  min-height: 50px;
  color: schemeColor('primary-two', 'v1');
  background-color: schemeColor('primary-three', 'v1');

  a, a:hover, a:active, a:visited {
    color: schemeColor('primary-three', 'v1');
    img {
      width: 280px;
    }
  }

  .container {
    min-height: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include tablet-portrait-and-below() {
      min-width: $headerWidth-mobile;
    }

    @include tablet-portrait-and-up() {
      min-width: $headerWidth;

    }

    padding-top: 25px;
    padding-bottom: 20px;

    .logo {
      .desktop {
        @include mobile-only() {
          display: none;
        }
      }
      .mobile {
        display: none;
        @include mobile-only() {
          display: block;
          width: 46%;
          padding-top: 10%;
          padding-bottom: 10%;
        }

      }
    }
  }
}
