// these files contain styling of reusable elements in their context (i.e. input.email)

@mixin container() {
  clear: both;
}

.container {
  @include container();
  max-width: 72%;
  margin: auto;
  @include mobile-only() {
    max-width: $headerWidth-mobile;
  }
}

.nocontainer {
  @include container();
}

.headline {
  font-family: $font-medium;
  font-weight: bolder;
}

.subtext {
  font-family: $font-light;
  font-weight: lighter;
}
