$mq-mobile-portrait: 599px !default;
$mq-mobile-landscape: 599px !default;
$mq-tablet-portrait: 600px !default;
$mq-tablet-landscape: 900px !default;
$mq-desktop: 1200px !default;

$button-size: 50px;

$spacing-default: 15px;
