// these files contain settings in variables, like colors or fonts

@import "settings.colors";
@import "settings.fonts";
@import "settings.screen";

// footer and header width
$headerWidth: 90%;
$headerWidth-mobile: 80%;

// border & box-shadows
$border-radius: 4px;
$box-shadow-color: map_get($colors, 'black');

$shadows: (
        default: 0 2px 7px 0 $box-shadow-color,
        top: 2px 0 0 0 $box-shadow-color,
        right: 0 0 7px 0 $box-shadow-color,
        bottom: 0 0 2px 0 $box-shadow-color,
        left: 7px 0 0 0 $box-shadow-color
);
