body {
  margin: 0;

  @include font-default('medium', $font-primary-color);
  @include _font-size($font-primary-size-normal);
}

* {
  box-sizing: border-box;
}

:focus, :active, :hover {
  outline: none;
}
