// define fonts

@import "../______tools/tools.functions";

$font-primary:  Arial, sans-serif;

$font-primary-color: color('primary-one');

$font-size-small: 1.2em;
$font-size-medium: 1.5em;
$font-size-big: 2em;
$font-size-bigger: 3em;
$font-size-extra: 5em;

$font-size-small-mobile: 1em;
$font-size-medium-mobile: 1.2em;
$font-size-big-mobile: 1.8em;
$font-size-bigger-mobile: 2.5em;
$font-size-extra-mobile: 3em;
